[submodule "grbl"]
	path = grbl
	url = https://github.com/xy-kasumi/Spark-grblHAL-core
[submodule "eeprom"]
	path = eeprom
	url = https://github.com/grblHAL/Plugin_EEPROM
[submodule "fans"]
	path = fans
	url = https://github.com/grblHAL/Plugin_fans
[submodule "trinamic"]
	path = trinamic
	url = https://github.com/terjeio/Trinamic-library.git
[submodule "motors"]
	path = motors
	url = https://github.com/grblHAL/Plugins_motor.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/grblHAL/Plugins_misc
